<div id="main" class="container home" ng-show="isAuthenticated && !profile.is_company">

	<div ng-if="profile.subscriptions.length==0"  class="alert alert-fy">
		<p>Bienvenido a MyPoints.<br/> Comenzá buscando empresas.</p>
	</div>

	<ul id="home-menu" class="nav">

    <li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleEmpresas">
				<i class="glyphicon glyphicon-record"></i> Suscripciones
			</a>

			<ul id="toggleEmpresas" role="menu" class="collapse in">
				<li ng-repeat="subscription in profile.subscriptions"><a ui-sref="company({id: subscription.company.pk})">{{subscription.company.name}}</a><span class="badge">Tus puntos: {{subscription.points_pending}}</span>
          <i ng-if="reward_available(subscription.company.pk)" class="fa fa-trophy"></i></li>
      </ul>
		</li>

		<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleCercanos">
				<i class="glyphicon glyphicon-record"></i> Mas cercanas
			</a>
			<ul id="toggleCercanos" role="menu" class="collapse in">
				    <li class="item-accordion" ng-repeat="item in filtered_companies">
                {{item.name}}<span class="badge rewards">Premios: {{item.rewards.length}}</span> <a class="plus" ui-sref="company({id: item.pk})"><i class="glyphicon glyphicon-plus"></i></a>
            </li>
            </ul>
		</li>

	</ul>

  <footer>
  </footer>

</div>
